{{>sidebar}}
<div class="main-content">
    <div class="main-header">
        Quản lý người dùng
    </div>

    <div class="sub-header">
        Danh sách người dùng
    </div>

    <section class="cashier_report_table">
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Mã người dùng</th>
                    <th>Họ tên</th>
                    <th>Số điện thoại</th>
                    <th>UserName</th>
                    <th>Vai trò</th>
                    <th>Xóa</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td> {{no}}1</td>
                    <td>{{id}}HD001</td>
                    <td>{{cashier}}Nguyễn Thị Thu</td>
                    <td>{{phone}}678910jqk</td>
                    <td>{{username}}nguoidung1</td>
                    <td>{{role}}Nhân viên</td>
                    <td><i class="bx bx-trash btn-delete-report"></i></td>

                </tr>
                <tr>
                    <td> {{no}}1</td>
                    <td>{{id}}HD001</td>
                    <td>{{cashier}}Nguyễn Thị Thu</td>
                    <td>{{phone}}678910jqk</td>
                    <td>{{username}}nguoidung1</td>
                    <td>{{role}}Nhân viên</td>
                    <td><i class="bx bx-trash btn-delete-report"></i></td>

                </tr>
               <tr>
                    <td> {{no}}1</td>
                    <td>{{id}}HD001</td>
                    <td>{{cashier}}Nguyễn Thị Thu</td>
                    <td>{{phone}}678910jqk</td>
                    <td>{{username}}nguoidung1</td>
                    <td>{{role}}Nhân viên</td>
                    <td><i class="bx bx-trash btn-delete-report"></i></td>

                </tr>
            </tbody>
        </table>
    </section>


</div>