{{>sidebar}}
<div class="main-content">
<div class="title_content">
       <div>
            <div class="main-header">
                Categories
            </div>
            
            <div class="sub-header">
                Phân loại danh mục sản phẩm
            </div>   
       </div>
       <div class="ic-plus" >
         <i class='bx bxs-plus-square btn-pluss' onclick="on()"></i>
       </div>
</div>
    
    <section class="cashier_report_table" style="width:75vw; margin:auto;">
    <table>
        <thead>
            <tr>
                
                <th>Mã danh mục</th>
                <th>Tên danh mục</th>
                <th>Xóa</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td> {{no}}1</td>
                <td>{{id}}HD001</td>
                
                <td><i class="bx bx-trash btn-delete-report"></i></td>

            </tr>
            <tr>
                <td> {{no}}1</td>
                <td>{{id}}HD001</td>
               
                <td><i class="bx bx-trash btn-delete-report"></i></td>
            </tr>
            <tr>
                <td> {{no}}1</td>
                <td>{{id}}HD001</td>
               
                <td><i class="bx bx-trash btn-delete-report"></i></td>

            </tr>
        </tbody>
    </table>
</section>

</div> 
