{{>cashier_sidebar}}
<section class="product-detail-container">
    <section class="card_food">
        <div class="product-cover-img" style="background-image: url(/img/products/{{Anh}});">

        </div>

        <button class="btn-order">
            Đặt món
        </button>

        <div class="food-detail">
            <div class="type">{{MaLoai}} </div>
            <div class="name">{{Ten}}</div>
            <div class="stock"> Số lượng còn: {{SoLuongTon}}</div>
            <div class="star">{{n_star}} ({{n_comment}} đánh giá)</div>
            <div class="price">{{DonGia}}</div>
        </div>
    </section>

    <section class="comment-container">
        <div class="overall">
            <div class="header">
                Đánh giá từ khách hàng
            </div>

            <div class="star-container">
                <div class="row1">
                    {{n_star}}4.0 / 5.0
                </div>
                <div class="row2">

                </div>
            </div>

            <div class="sub-header">
                {{n_comment}}
                100 đánh giá
            </div>

            <div class="detail-star">
                <div class="row">
                    <div class="star-number">5</div>
                    <i class="bx bxs-star"></i>

                </div>
            </div>
        </div>

        <div class="detail-container">
            <div class="card-comment">
                <div class="cover-container" style="background-image: url(/img/users/user1.jpg);">
                </div>
                <div class="detail">
                    <div class="name">
                        {{name-client}}Johnny Cage
                    </div>

                    <div class="star-rated">
                        {{star-rated}}
                        5
                    </div>

                    <div class="time">
                        {{date}}
                        {{time}}
                        2024-1-1 3:05
                    </div>

                    <div class="content">
                        {{content}}One of the best food I’ve ever had in my life</div>
                </div>
            </div>
        </div>

    </section>

</section>

<script src="/js/table.js"></script>