{{>sidebar}}
<div class="main-content">
    <div class="main-header">
        Quản lý người dùng
    </div>

    <div class="sub-header">
        Danh sách người dùng
    </div>

    <section class="cashier_report_table">
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Mã sản phẩm</th>
                    <th>Tên sản phẩm</th>
                    <th>Đơn giá</th>
                    <th>Số lượng tồn</th>
                    <th>Tên danh mục</th>
                    <th>Xóa</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td> {{no}}1</td>
                    <td>{{id}}CT001</td>
                    <td>{{name}}Cơm tấm Ngô Quyền</td>
                    <td>{{price}}25000 VND</td>
                    <td>{{qty}}100</td>
                    <td>{{cate}}Cơm</td>
                    <td><i class="bx bx-trash btn-delete-report"></i></td>

                </tr>
                <tr>
                    <td> {{no}}1</td>
                    <td>{{id}}CT001</td>
                    <td>{{name}}Cơm tấm Ngô Quyền</td>
                    <td>{{price}}25000 VND</td>
                    <td>{{qty}}100</td>
                    <td>{{cate}}Cơm</td>
                    <td><i class="bx bx-trash btn-delete-report"></i></td>

                </tr>
               <tr>
                    <td> {{no}}1</td>
                    <td>{{id}}CT001</td>
                    <td>{{name}}Cơm tấm Ngô Quyền</td>
                    <td>{{price}}25000 VND</td>
                    <td>{{qty}}100</td>
                    <td>{{cate}}Cơm</td>
                    <td><i class="bx bx-trash btn-delete-report"></i></td>

                </tr>
            </tbody>
        </table>
    </section>


</div>