<div class="report_detail_container">
    <div class="report_detail_head">
        <div class="Ma">
            {{MaDT}}#MaDT
        </div>
        <div class="Ngay">
            {{Ngày}}21/12/2023
        </div>
        

    </div>
    <div class="DoanhThu">
            <p>Tổng Doanh Thu</p>
            <p>{{sum}}10000000 VND</p>
        </div>
        <div class="detail">
            <div class="head table_content">
                <div>STT</div>
                <div>Mã sản phẩm</div>
                <div>Tên sản phẩm</div>
                <div>Đã bán</div>
                <div>Giá</div>
            </div>

            <div class="sub">
                <div class="table_content">
                    <div>{{stt}}1</div>
                    <div>{{MaSP}}2112000</div>
                    <div>{{Ten}}Nuoc ep</div>
                    <div>{{ban}}25</div>
                    <div>{{stt}}1</div>
                </div>



                <div class="table_content">
                    <div>{{stt}}1</div>
                    <div>{{MaSP}}2112000</div>
                    <div>{{Ten}}Nuoc ep</div>
                    <div>{{ban}}25</div>
                    <div>{{stt}}1</div>
                </div>
                <div class="table_content">
                    <div>{{stt}}1</div>
                    <div>{{MaSP}}2112000</div>
                    <div>{{Ten}}Nuoc ep</div>
                    <div>{{ban}}25</div>
                    <div>{{stt}}1</div>
                </div>
                <div class="table_content">
                    <div>{{stt}}1</div>
                    <div>{{MaSP}}2112000</div>
                    <div>{{Ten}}Nuoc ep</div>
                    <div>{{ban}}25</div>
                    <div>{{stt}}1</div>
                </div>
                <div class="table_content">
                    <div>{{stt}}1</div>
                    <div>{{MaSP}}2112000</div>
                    <div>{{Ten}}Nuoc ep</div>
                    <div>{{ban}}25</div>
                    <div>{{stt}}1</div>
                </div>
                <div class="table_content">
                    <div>{{stt}}1</div>
                    <div>{{MaSP}}2112000</div>
                    <div>{{Ten}}Nuoc ep</div>
                    <div>{{ban}}25</div>
                    <div>{{stt}}1</div>
                </div>
                <div class="table_content">
                    <div>{{stt}}1</div>
                    <div>{{MaSP}}2112000</div>
                    <div>{{Ten}}Nuoc ep</div>
                    <div>{{ban}}25</div>
                    <div>{{stt}}1</div>
                </div>
                <div class="table_content">
                    <div>{{stt}}1</div>
                    <div>{{MaSP}}2112000</div>
                    <div>{{Ten}}Nuoc ep</div>
                    <div>{{ban}}25</div>
                    <div>{{stt}}1</div>
                </div>
                <div class="table_content">
                    <div>{{stt}}1</div>
                    <div>{{MaSP}}2112000</div>
                    <div>{{Ten}}Nuoc ep</div>
                    <div>{{ban}}25</div>
                    <div>{{stt}}1</div>
                </div>
                <div class="table_content">
                    <div>{{stt}}1</div>
                    <div>{{MaSP}}2112000</div>
                    <div>{{Ten}}Nuoc ep</div>
                    <div>{{ban}}25</div>
                    <div>{{stt}}1</div>
                </div>
                <div class="table_content">
                    <div>{{stt}}1</div>
                    <div>{{MaSP}}2112000</div>
                    <div>{{Ten}}Nuoc ep</div>
                    <div>{{ban}}25</div>
                    <div>{{stt}}1</div>
                </div>
                <div class="table_content">
                    <div>{{stt}}1</div>
                    <div>{{MaSP}}2112000</div>
                    <div>{{Ten}}Nuoc ep</div>
                    <div>{{ban}}25</div>
                    <div>{{stt}}1</div>
                </div>
                <div class="table_content">
                    <div>{{stt}}1</div>
                    <div>{{MaSP}}2112000</div>
                    <div>{{Ten}}Nuoc ep</div>
                    <div>{{ban}}25</div>
                    <div>{{stt}}1</div>
                </div>
                <div class="table_content">
                    <div>{{stt}}1</div>
                    <div>{{MaSP}}2112000</div>
                    <div>{{Ten}}Nuoc ep</div>
                    <div>{{ban}}25</div>
                    <div>{{stt}}1</div>
                </div>
                <div class="table_content">
                    <div>{{stt}}1</div>
                    <div>{{MaSP}}2112000</div>
                    <div>{{Ten}}Nuoc ep</div>
                    <div>{{ban}}25</div>
                    <div>{{stt}}1</div>
                </div>
                <div class="table_content">
                    <div>{{stt}}1</div>
                    <div>{{MaSP}}2112000</div>
                    <div>{{Ten}}Nuoc ep</div>
                    <div>{{ban}}25</div>
                    <div>{{stt}}1</div>
                </div>

            </div>

        </div>


</div>