<section class="admin_import_table">
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Mã doanh thu</th>
                <th>Ngày lập</th>
                <th>Người lập</th>
                <th>Xem</th>
                <th>Sửa</th>
                <th>Xóa</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td> {{no}}1</td>
                <td>{{id}}HD001</td>
                <td>{{date}}11/12/2023</td>
                <td>{{cashier}}Nguyễn Thị Thu</td>
                <td><i class="bx bx-file-find btn-detail"></i></td>
                <td><i class='bx bxs-edit-alt btn-edit'></i></td>
                <td><i class="bx bx-trash btn-delete-report"></i></td>

            </tr>
            <tr>
                <td> {{no}}1</td>
                <td>{{id}}HD001</td>
                <td>{{date}}11/12/2023</td>
                <td>{{cashier}}Nguyễn Thị Thu</td>
                <td><i class="bx bx-file-find btn-detail"></i></td>
                <td><i class='bx bxs-edit-alt btn-edit'></i></td>
                <td><i class="bx bx-trash btn-delete-report"></i></td>
            </tr>
            <tr>
                <td> {{no}}1</td>
                <td>{{id}}HD001</td>
                <td>{{date}}11/12/2023</td>
                <td>{{cashier}}Nguyễn Thị Thu</td>
                <td><i class="bx bx-file-find btn-detail"></i></td>
                <td><i class='bx bxs-edit-alt btn-edit'></i></td>
                <td><i class="bx bx-trash btn-delete-report"></i></td>

            </tr>
        </tbody>
    </table>
</section>
<script src="/js/table.js"></script>