<div class="dashboard-container">
    <header>
        Dashboard
    </header>

    <section class="cashier-infor">
        <img src="" alt="" class="cashier-image" />
        <div class="col1">
            <div>
                {{name}}
                Nguyễn Thị Thu
            </div>
            <div>
                Tuổi:
                {{age}}
                24
            </div>
            <div>
                Giới tính:
                {{sex}}
                nữ
            </div>
            <div>
                Chức vụ:
                {{role}}
                Thu ngân
            </div>

        </div>
        <div class="col2">
            <div>
                <div class="card-text"><i class="bx bx-phone"></i>Điện thoại:
                    {{phone}}</div>
                <div class="card-text"><i class="bx bx-envelope"></i>Email:
                    {{email}}</div>
                <div class="card-text"><i class="bx bx-target-lock"></i>Địa chỉ:
                    {{address}}</div>
            </div>
        </div>

    </section>

    <div class="state-container">
        <section class="newest-order">

        </section>

        <section class="newest-customer">
            new cus
        </section>
    </div>
</div>