<div class="content_import">
    <div class="head_import">
        <div class="import_title">
            <div class="id_import">{{id}}IN1234</div>
            <div class="date_import"> {{date}}10/02/2023</div>
        </div>
        <div class="import_add">
            <button>
                <i class='bx bx-plus icon'></i>
                Thêm hàng
            </button>
        </div>
    </div>


    <div>
        <div class="thead table_content">
            <div>#</div>
            <div>Mã hàng</div>
            <div>Tên hàng</div>
            <div>Số lượng</div>
            <div>Giá</div>
            <div></div>
        </div>
        <div class="sub table_content">
            <div>{{stt}}1</div>
            <div>{{id}}DR003</div>
            <div>{{name}}Nước đóng chai 7UP</div>
            <div>{{sl}}24</div>
            <div>{{price}}160000</div>
            <div><i class='bx bx-trash' ></i></div>
        </div>
        <div class="sub table_content">
            <div>{{stt}}2</div>
            <div>{{id}}DR003</div>
            <div>{{name}}Nước đóng chai 7UP</div>
            <div>{{sl}}24</div>
            <div>{{price}}160000</div>
            <div><i class='bx bx-trash' ></i></div>
        </div>
    </div>

    <div class="sum_import">
        <div class="table_content">
            <div>Tổng</div>
            <div></div>
            <div></div>
            <div>{{sum}}800</div>
            <div>{{sum_price}}10000000</div>
        </div>
    </div>
<div class="foot_import">

    <button>Xác nhận</button>
</div>
</div>