<div class="dashboard-container">
    <header>
        Dashboard
    </header>

    <section class="cashier-infor">
        <img src="" alt="" class="cashier-image" />
        <div class="col1">
            <div>
                {{name}}
                Nguyễn Thị Thu
            </div>
            <div>
                Tuổi:
                {{age}}
                24
            </div>
            <div>
                Giới tính:
                {{sex}}
                nữ
            </div>
            <div>
                Chức vụ:
                {{role}}
                Thu ngân
            </div>

        </div>
        <div class="col2">
            <div><i class="bx bx-phone"></i>Điện thoại:
                {{phone}}</div>
            <div><i class="bx bx-envelope"></i>Email:
                {{email}}</div>
            <div><i class="bx bx-target-lock"></i>Địa chỉ:
                {{address}}</div>
        </div>
        <button class="btn-edit">
            Chỉnh sửa
        </button>
    </section>

    <div class="state-container">
        <div class="newest-order">
            <div class="dashboard-sub-header">
                Hóa đơn mới nhất
            </div>

            <section >
                <table class="newest-order-table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Mã hóa đơn</th>
                            <th>Phương thức</th>
                            <th>Tình trạng</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> {{no}}1</td>
                            <td>{{id}}HD001</td>
                            <td>{{method}}Card</td>
                            <td>{{state}}Đã thanh toán</td>
                            <td><button>xác nhận</button></td>
                            <td><i class="bx bx-file-find btn-detail"></i></td>
                        </tr>
                        <tr>
                            <td> {{no}}1</td>
                            <td>{{id}}HD001</td>
                            <td>{{method}}Card</td>
                            <td>{{state}}Hủy</td>
                            <td><i class="bx bx-file-find btn-detail"></i></td>
                        </tr>
                        <tr>
                            <td> {{no}}1</td>
                            <td>{{id}}HD001</td>
                            <td>{{method}}Card</td>
                            <td>{{state}}Chưa thanh toán</td>
                            <td><i class="bx bx-file-find btn-detail"></i></td>

                        </tr>
                    </tbody>
                </table>
                <i class="bx bx-expand-alt btn-expand"></i>
            </section>
        </div>

        <div class="newest-customer">
            <div class="dashboard-sub-header">
                Khách hàng đặt hàng gần nhất

            </div>

            <section>
                <div class="client">
                    <div class="no">{{no_client}}1</div>
                    <div> <img src="" alt="" class="img-client" /></div>
                    <div class="name-time">
                        <div class="_name">
                            {{name_client}}
                            Nguyễn Văn A
                        </div>
                        <div class="_time">
                            {{time}}2 phút trước
                        </div>

                    </div>

                </div>
                <a class="client" href="/user/profile" style="text-decoration: none;">
                    <div class="no">{{no_client}}1</div>
                    <div> <img src="" alt="" class="img-client" /></div>
                    <div class="name-time">
                        <div class="_name">
                            {{name_client}}
                            Nguyễn Văn A
                        </div>
                        <div class="_time">
                            {{time}}2 phút trước
                        </div>

                    </div>

                </a>
                <div class="client">
                    <div class="no">{{no_client}}1</div>
                    <div> <img src="" alt="" class="img-client" /></div>
                    <div class="name-time">
                        <div class="_name">
                            {{name_client}}
                            Nguyễn Văn A
                        </div>
                        <div class="_time">
                            {{time}}2 phút trước
                        </div>
                    </div>

                </div>
            </section>
        </div>
    </div>
</div>

<script src="/js/table.js"></script>