<section class="new_revenue_container">
    <div class="new_revenue">
        <div class="grid header-container">
            <div class="header">
                Món
            </div>
            <div class="header">
                Đã bán
            </div>

            <div class="header">
                Số lượng tồn
            </div>

            <div class="header">
                Giá
            </div>
        </div>

        <div class="row-container">
            <div class="grid row">
                <div class="cell" {{name}}>Cơm chiên dương châu</div>
                <div class="cell">{{sell}}20</div>
                <div class="cell">{{stock}}0</div>
                <div class="cell"> {{price}}500 000 VND</div>
            </div>

            <div class="grid row">
                <div class="cell" {{name}}>Cơm chiên dương châu</div>
                <div class="cell">{{sell}}20</div>
                <div class="cell">{{stock}}0</div>
                <div class="cell"> {{price}}500 000 VND</div>
            </div>

            <div class="grid row">
                <div class="cell" {{name}}>Cơm chiên dương châu</div>
                <div class="cell">{{sell}}20</div>
                <div class="cell">{{stock}}0</div>
                <div class="cell"> {{price}}500 000 VND</div>
            </div>

            <div class="grid row">
                <div class="cell" {{name}}>Cơm chiên dương châu</div>
                <div class="cell">{{sell}}20</div>
                <div class="cell">{{stock}}0</div>
                <div class="cell"> {{price}}500 000 VND</div>
            </div>

            <div class="grid row">
                <div class="cell" {{name}}>Cơm chiên dương châu</div>
                <div class="cell">{{sell}}20</div>
                <div class="cell">{{stock}}0</div>
                <div class="cell"> {{price}}500 000 VND</div>
            </div>

            <div class="grid row">
                <div class="cell" {{name}}>Cơm chiên dương châu</div>
                <div class="cell">{{sell}}20</div>
                <div class="cell">{{stock}}0</div>
                <div class="cell"> {{price}}500 000 VND</div>
            </div>

            <div class="grid row">
                <div class="cell" {{name}}>Cơm chiên dương châu</div>
                <div class="cell">{{sell}}20</div>
                <div class="cell">{{stock}}0</div>
                <div class="cell"> {{price}}500 000 VND</div>
            </div>

            <div class="grid row">
                <div class="cell" {{name}}>Cơm chiên dương châu</div>
                <div class="cell">{{sell}}20</div>
                <div class="cell">{{stock}}0</div>
                <div class="cell"> {{price}}500 000 VND</div>
            </div>

            <div class="grid row">
                <div class="cell" {{name}}>Cơm chiên dương châu</div>
                <div class="cell">{{sell}}20</div>
                <div class="cell">{{stock}}0</div>
                <div class="cell"> {{price}}500 000 VND</div>
            </div>

            <div class="grid row">
                <div class="cell" {{name}}>Cơm chiên dương châu</div>
                <div class="cell">{{sell}}20</div>
                <div class="cell">{{stock}}0</div>
                <div class="cell"> {{price}}500 000 VND</div>
            </div>

            <div class="grid row">
                <div class="cell" {{name}}>Cơm chiên dương châu</div>
                <div class="cell">{{sell}}20</div>
                <div class="cell">{{stock}}0</div>
                <div class="cell"> {{price}}500 000 VND</div>
            </div>

            <div class="grid row">
                <div class="cell" {{name}}>Cơm chiên dương châu</div>
                <div class="cell">{{sell}}20</div>
                <div class="cell">{{stock}}0</div>
                <div class="cell"> {{price}}500 000 VND</div>
            </div>
        </div>
        <div class="badge">
            <div>Tổng</div>
            <div>{{sum}}1.600.600 VND</div>
        </div>
        
        <div class="btn-confirm">
            <button>
                Xác nhận
            </button>
        </div>
    </div>

</section>
<script src="/js/table.js"></script>