<div class="dashboard-container">
    <header>
        Dashboard
    </header>

    <section class="cashier-infor">
        <img src="" alt="" class="cashier-image" />
        <div class="col1">
            <div>
                {{name}}
                Nguyễn Thị Thu
            </div>
            <div>
                Tuổi:
                {{age}}
                24
            </div>
            <div>
                Giới tính:
                {{sex}}
                nữ
            </div>
            <div>
                Chức vụ:
                {{role}}
                Thu ngân
            </div>

        </div>
        <div class="col2">
            <div><i class="bx bx-phone"></i>Điện thoại:
                {{phone}}</div>
            <div><i class="bx bx-envelope"></i>Email:
                {{email}}</div>
            <div><i class="bx bx-target-lock"></i>Địa chỉ:
                {{address}}</div>
        </div>

    </section>

    <div class="state-container">
        <div class="newest-order">
            <div class="sub-header">
                Hóa đơn mới nhất
            </div>

            <section>

            </section>
        </div>

        <div class="newest-customer">
            <div class="sub-header">
                Khách hàng đặt hàng gần nhất

            </div>

            <section>

            </section>
        </div>
    </div>
</div>