<section class="order">
    <div class="top-order">
        <div class="dat-mon">
            Đặt món
        </div>
        <i class="bx bx-right-arrow-alt arrow"></i>
    </div>
    
        <div class="table-header">
            <div>
                Món
            </div>

            <div>
                Số lượng
            </div>
        </div>

        <div class="order-content">
            <div class="item">
                <div class="row-1">
                    <img src="img/logo_hcmus.png"
                         class="img-fluid rounded-top"
                         alt="" />

                    <div class="name-price">
                        <div class="name">
                            {{name}}
                            Cơm chiên dương châu
                        </div>

                        <div class="price">
                            {{price}}
                            25.000 VND
                        </div>
                    </div>

                    <div class="qty">
                        <input type="number"
                               min="0"
                               value="1"
                               onkeyup="if(value<0) value=0;" />

                    </div>
                </div>

                <div class="row-2">

                    <div class="input-text">
                        <input type="text">
                    </div>
                    <div class="trash">
                        <i class='bx bx-trash'></i>
                    </div>

                </div>


            </div>

            <div class="item">
                <div class="row-1">
                    <img src="img/logo_hcmus.png"
                         class="img-fluid rounded-top"
                         alt="" />

                    <div class="name-price">
                        <div class="name">
                            {{name}}
                            Cơm chiên dương châu
                        </div>

                        <div class="price">
                            {{price}}
                            25.000 VND
                        </div>
                    </div>

                    <div class="qty">
                        <input type="number"
                               min="0"
                               value="1"
                               onkeyup="if(value<0) value=0;" />

                    </div>
                </div>

                <div class="row-2">

                    <div class="input-text">
                        <input type="text">
                    </div>
                    <div class="trash">
                        <i class='bx bx-trash'></i>
                    </div>

                </div>


            </div>

            <div class="item">
                <div class="row-1">
                    <img src="img/logo_hcmus.png"
                         class="img-fluid rounded-top"
                         alt="" />

                    <div class="name-price">
                        <div class="name">
                            {{name}}
                            Cơm chiên dương châu
                        </div>

                        <div class="price">
                            {{price}}
                            25.000 VND
                        </div>
                    </div>

                    <div class="qty">
                        <input type="number"
                               min="0"
                               value="1"
                               onkeyup="if(value<0) value=0;" />

                    </div>
                </div>

                <div class="row-2">

                    <div class="input-text">
                        <input type="text">
                    </div>
                    <div class="trash">
                        <i class='bx bx-trash'></i>
                    </div>

                </div>


            </div>

            <div class="item">
                <div class="row-1">
                    <img src="img/logo_hcmus.png"
                         class="img-fluid rounded-top"
                         alt="" />

                    <div class="name-price">
                        <div class="name">
                            {{name}}
                            Cơm chiên dương châu
                        </div>

                        <div class="price">
                            {{price}}
                            25.000 VND
                        </div>
                    </div>

                    <div class="qty">
                        <input type="number"
                               min="0"
                               value="1"
                               onkeyup="if(value<0) value=0;" />

                    </div>
                </div>

                <div class="row-2">

                    <div class="input-text">
                        <input type="text">
                    </div>
                    <div class="trash">
                        <i class='bx bx-trash'></i>
                    </div>

                </div>


            </div>

        </div>

        <div class="tong-container">

            <div class="tong-text">
                Tổng
            </div>

            <div class="tong-value">
                {{tong-value}}
                150.000Đ
            </div>
        </div>

        <div class="thanhtoan-container">
            <div class="thanhtoan">
                Chọn hình thức thanh toán
            </div>

            <div class="options ">
                <div class="option">
                    <input type="radio"
                           class="btn-check"
                           name="options"
                           id="tienmat"
                           autocomplete="off">
                    <label class="btn btn-secondary"
                           for="tienmat">Tiền mặt</label>
                </div>

                <div class="option">
                    <input type="radio"
                           class="btn-check"
                           name="options"
                           id="VNPay"
                           autocomplete="off">
                    <label class="btn btn-secondary"
                           for="VNPay">VNPay</label>
                </div>

                <div class="option">
                    <input type="radio"
                           class="btn-check"
                           name="options"
                           id="momo"
                           autocomplete="off">
                    <label class="btn btn-secondary"
                           for="momo">Momo</label>
                </div>

            </div>
        </div>

        <button class="order-btn">
            Đặt món
        </button>
    </div>

    </div>

    <script>
        $(document).ready(function () {
            checkOrderConditions();

            $('.bx-trash').on('click', function () {
                $(this).closest('.item').remove();
                checkOrderConditions();
            });

            $('.btn-check').on('change', function () {
                checkOrderConditions();
            });

            function checkOrderConditions () {
                const hasItems = $('.order-content .item').length > 0;
                const paymentOptionChosen = $('.btn-check:checked').length > 0;
                $('.order-btn').prop('disabled', !(hasItems && paymentOptionChosen));
            }

            $('.arrow').on('click', function () {
                $('.order').toggleClass('slide');
                $(this).toggleClass('reverse');
            });
        });
    </script>
</section>